
<div class="row">
    <div class="col-md-11 col-offset-1 text-center">Parent Component</div>
    <div class="col-md-4"></div>
    <div class="col-md-2"><button [disabled]="isShuffleDisable" (click)="onShuffleClick()" type="button" class="btn btn-info btn-block">Shuffle</button></div>
    <div class="col-md-2"><button [disabled]="isSortDisabled"  type="button" class="btn btn-block btn-info" (click)="onSortClick()">Sort</button></div>
    <div class="col-md-4"></div>
</div>
<br><br>
<div class="row"> 
  <div class="col-md-5">
    <app-firstchild #fChild id="fChild"></app-firstchild>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5">
  <app-secondchild #sChild id="sChild"></app-secondchild>
  </div>
</div>

<router-outlet></router-outlet>